<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Employee</title>
<link rel="stylesheet" th:href="@{/css/demo.css}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h3 class="center">Employee Data</h3>
<a th:href="@{/showFormForAdd}" class="btn btn-success btn-sm mb-3">Add Employee</a>
	<table class="table table-bordered table-striped">
		<thead class="bg-info">
		<tr>
		  <th>First Name</th>
		  <th>Last Name</th>
		  <th>Email</th>
		  <th>Action</th>
		</tr>
		</thead>
	<tbody>
		<tr th:each="tempEmployee : ${employees}">
		<td th:text="${tempEmployee.firstName}" ></td>
		<td th:text="${tempEmployee.lastName}" ></td>
		<td th:text="${tempEmployee.email}" ></td>
		
		<td>
			<a th:href="@{/showFormForUpdate(employeeId=${tempEmployee.id})}"
			class="btn btn-warning btn-sm">
			Update
			</a>
		
		    <a th:href="@{/delete(employeeId=${tempEmployee.id})}"
		    class="btn btn-danger btn-sm"
		    onclick="if (!(confirm('you want to delete this employee ?'))) return false">
		    Delete
		    </a>
		
		
		</td>
		</tr>
	</tbody>
	
	</table>
</div>
</body>
</html>